<p id="notice" class="alert alert-success text-center"><strong><%= notice %></strong></p>

<div class="jumbotron text-center" style="padding-left:0px; padding-right:0px">
	<div class="container" style="padding-left:0px; padding-right:0px;">
		<div class="col-sm-2 hidden-xs">
			<img src="<%=image_path('iuf_logo.png')%>" style="height:100%;x-overflow:hidden;">
		</div>
		<div class="col-sm-10">
			<h1 class="no-left-margin no-right-margin text-right">dairyworker.org</h1>
			<p class="no-left-margin text-right no-right-margin">Bringing the affiliates of the IUF dairy division closer together</p>
			<p>
				<%=link_to "Request An Invitation", new_help_request_invite_path, class: "btn btn-large btn-default pull-right" %>
			</p>
		</div>
		
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h2 class="no-left-margin">Share organising info</h2>
			<p>
				Upload and share collective bargaining agreements and company research.  Get in touch with key comraids from other unions, when agreements are expiring.
			</p>
		</div>
		<div class="col-sm-4">
			<h2  class="no-left-margin">Chat securely and privately</h2>
			<p>
				Chat with officials from other unions about sensitive organising information without being at the mercy of organisations that fundamentally don't respect privacy.
			</p>
		</div>
		<div class="col-sm-4">
			<h2  class="no-left-margin">Organise globally</h2>
			<p>Transnational corporations have organised globally.  We need to too.</p>
		</div>
	</div>
</div>
<hr/>


