<% if notice.present? %>
  <p id="notice" class="alert alert-success text-center"><strong><%= notice %></strong></p>
<% end %>

<% if person_signed_in? %>
  <%= render "get_started" %>
<% else %>
  <%= render "intro" %>
<% end %>
