<div class="message">
	<span class="message_text">
		<div class="message_profile" style="float:left;">
			<%= profile_thumb(message.person) %>
		</div>
		
		<div class="message_heading" style="margin-left: 40px;">
			<span class="message_display_name">
				<strong><%=message.person.display_name %></strong>
			</span>
			<span class="message_timestamp">
				<%=  content_tag(:span, I18n.l(message.created_at, format: :long), data: { time: message.created_at.iso8601 }) %>
			</span>
		</div>
		
		<div class="body" style="margin-left: 40px;">
			<%= message.body.split("\r\n").collect{ |i| "<p>#{h(i)}</p>".html_safe}.join("\r\n").html_safe %>
		</div>
	</span>
</div>