<div class="message">
	<span class="profile">
		<%= profile_thumb(message.person) %>
	</span>
	<span class="message">
		<div class="message_heading">
			<span class="message_display_name">
				<strong><%=message.person.display_name %></strong>
			</span>
			<span class="message_timestamp">
				<%= time_ago_in_words(message.created_at) %>
			</span>
		</div>
		<div class="body">
			<p><%=message.body %></p>
		</div>
	</span>
</div>