<% if notice.present? %>
	<p id="notice" class="alert alert-success text-center"><strong><%= notice %></strong></p>
<% end %>
<h1>Listing Agreements</h1>

<%= link_to 'New Agreement', new_rec_path(division_id: @division.short_name), class: "btn btn-default new-button" %>
<%= render 'recs' %>
<br>
