/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-switch.min
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

h1, h1, h2 {
	color: #C44347;
	small {
	//	color: #D33;
	}
  margin-left: 15px;
}

body {
  background-color: #FFF8EB;
  color: #5C5C5C;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  /*padding-bottom: 70px;*/
}

/*
.content-area {
  border-radius: 5px;
  border: 1px solid #111;
  background-color: #ffe;
}
*/
.content-area {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;  
}
.navbar {
  margin-bottom: 0px;
}

.navbar-fixed-top {
    min-height: 70px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 90px;
}

.navbar-brand > img {
  display:inline;
  max-height:80px; 
  margin-top: -10px; 
  margin-left: 0px
}

a.navbar-brand {
  #color: #D33 !important;
  font-weight: bold !important;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
 
#{$a-tags} {
}
#{$a-tags-hover} {
  background-color: transparent;
}


@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-brand > img {
    display:inline;
    max-height:40px; 
    margin-top: -10px; 
    margin-left: 0px;
  }

  .navbar-nav > li > img {
    height: 40px;
  }
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.form {
  margin-left: 15px;
  margin-right: 15px;
}

.no-left-margin {
  margin-left: 0px;
}

.no-right-margin {
  margin-right: 0px;
}

/*  THIS IS CRAZY.  I NEED TO REVIEW MY BOOTSTRAPPING */
.outer-row {
 margin-left: 0px;
 margin-right: 0px;
}

.col-sm-8 {
  padding-left: 0px;
  padding-right: 0px;
} 




/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 60px;
}

footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e7e7e7;
  padding: 1em;
}

footer.fixed-bottom {
  position: fixed;
  
  width: 100%;
  bottom: 0;
  // height: 55px;
  /*line-height: 43px;*/
  // padding: 0.6rem;
  margin-top: 2rem;
  z-index: 10;
  // max-width: 1024px; /* 1280px; */
  left: 0;
}
// @media screen and (min-width: 1024px) {
//   footer.fixed-bottom {
//     left: calc((100% - 1024px) / 2);
//     /*left: calc((100% - 1280px) / 2);*/
//   }
// }
footer.fixed-bottom p {
  margin: 0;
}
.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-justify { justify-content: space-between; }
.flex.between { justify-content: space-between; }
.flex.align-bottom { align-items: flex-end; }
.flex-center { align-items: center; }
.flex-order-1 { order: 1; }
.flex-order-2 { order: 2; }
.flex-order-3 { order: 3; }
