// Place all the styles related to the divisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.division-landing-logo-image {
  display:inline;
  max-height:100px; 
}

.division-landing-link {
  display: inline;
  vertical-align: bottom;
}

.division-landing-edit-link {
  vertical-align: bottom;
  padding-bottom: 5px;
}