<%= render 'notice' %>

<!-- Agreement Listing -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="text-right">
      <%= link_to t('.new_agreement'), new_rec_path, class: "btn btn-default" %>
    </div>
    <h1><%= t('.listing_agreements') %></h1>
    
    <%= render 'recs' %>
    
  </div>
</div>
